/* General styles */

html, body {
    margin: 0;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: black;
    font-family: sans-serif;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}


/* Loading screen */

body.loading #menus {
    display: none;
}

body:not(.loading) #loader {
    display: none;
}

#loader {
    position: absolute;
    top: 49%;
    width: 100%;
    text-align: center;
    color: white;
}


/* General menu styles */

.menu {
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.menu.menu-left {
    left: 0;
}

.menu.menu-right {
    right: 0;
}


/* Menu children */

.menu h1 {
    float: left;
    cursor: pointer;
}

.menu hr {
    clear: both;
    margin-right: 1.4em;
}

.menu .menu-options {
    display: inline-block;
    margin: 0 1.17em 1.4em 0;
}

.menu p {
    margin: 0;
    padding: 0;
    height: 11.7em;
    overflow: auto;
}

.menu input[type=button] {
    margin: 3px 1px;
    width: 2.8em;
    height: 2.8em;
    background-color: transparent;
    border: 1px solid rgba(140, 140, 140, .49);
    border-radius: .21em;
    background-size: 100% 100%;
    cursor: pointer;
}


/* Mobile styles */

body.mobile .menu {
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
}

body.mobile .menu.menu-left {
    top: 0;
    bottom: 70%;
}

body.mobile .menu.menu-center {
    top: 30%;
    bottom: 30%;
}

body.mobile .menu.menu-right {
    top: 70%;
    bottom: 0;
}

body.mobile .menu.menu-contracted.menu-left,
body.mobile .menu.menu-contracted.menu-right {
    display: none;
}

body.mobile .menu.menu-contracted.menu-center {
    top: 0;
    height: 2.1em;
}

body.mobile .menu hr {
    margin-right: 0;
}

body.mobile .menu p {
    height: 14em;
}


/* Tablet styles */

body.tablet .menu {
    height: auto;
}

body.tablet .menu.menu-left,
body.tablet .menu.menu-right {
    top: 0;
    width: 7em;
}

body.tablet .menu.menu-center {
    left: 7em;
    right: 7em;
    height: 8.4em;
}

body.tablet .menu.menu-contracted.menu-left,
body.tablet .menu.menu-contracted.menu-right {
    display: none;
}

body.tablet .menu.menu-contracted.menu-center {
    height: 2.1em;
    left: 0;
    right: 0;
}


/* Desktop styles */

body.desktop .menu {
    height: 14em;
}

body.desktop .menu.menu-left,
body.desktop .menu.menu-right {
    width: 35%;
}

body.desktop .menu.menu-center {
    left: 35%;
    right: 35%;
}


body.desktop .menu.menu-contracted.menu-left,
body.desktop .menu.menu-contracted.menu-right {
    display: none;
}

body.desktop .menu.menu-contracted {
    height: 2.1em;
}