/* Loading screen */

body.loading #menus {
    display: none;
}

body:not(.loading) #loader {
    display: none;
}

#loader {
    position: absolute;
    top: 49%;
    width: 100%;
    text-align: center;
    color: white;
}


/* General menu styles */

#menus.hidden {
    display: none;
}

.menu {
    position: absolute;
    bottom: 0;
    padding: 0 7px .35em 7px;
    overflow: hidden;
    box-sizing: border-box;
}

.menu.menu-left {
    left: 0;
}

.menu.menu-right {
    right: 0;
}

.menu.menu-contracted p,
.menu .menu-contracted input {
    display: none; /* This allows touch events to happen */
}


/* Menu children */

.menu h1 {
    float: left;
    cursor: pointer;
}

.menu hr {
    clear: both;
    margin-right: 1.4em;
}

.menu .menu-options {
    display: inline-block;
    margin: 0 1.17em 1.4em 0;
}

.menu p {
    margin: 0;
    padding: 0;
    /* height: 11.7em; */
    overflow: auto;
}

.menu input[type=button] {
    margin: 3px 1px;
    width: 2.8em;
    height: 2.8em;
    background-color: black;
    border: 1px solid rgba(140, 140, 140, .49);
    border-radius: .21em;
    background-size: 100% 100%;
    cursor: pointer;
}

.menu input[type=button].active {
    border: 1px solid #4d90fe;
    box-shadow: 0 0 7px 3px #336699;
}


/* Mobile styles */

body.mobile #menus {
    position: absolute;
    height: 100%;
    overflow: auto;
    z-index: 14;
}

body.mobile .menu {
    position: static;
    display: block;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    /* font-size: 2.8em; */
    font-size: 1.4em;
}

body.mobile canvas {
    position: absolute;
    top: 0;
}

body.mobile .menu input[type=button] {
    width: 117px;
    height: 117px;
}

body.mobile .menu.menu-left {
    /* top: 0;
    bottom: 70%; */
}

body.mobile .menu.menu-center {
    /* top: 30%;
    bottom: 30%; */
}

body.mobile .menu.menu-right {
    /* top: 70%;
    bottom: 0; */
}

body.mobile .menu.menu-contracted.menu-left,
body.mobile .menu.menu-contracted.menu-right {
    display: none;
}

body.mobile .menu.menu-contracted.menu-center {
    top: 0;
    height: 2.1em;
}

body.mobile .menu hr {
    margin-right: 0;
}

/* body.mobile .menu p {
    height: 14em;
} */


/* Tablet styles */

body.tablet .menu {
    height: auto;
    font-size: 1.4em;
}

body.tablet .menu.menu-left,
body.tablet .menu.menu-right {
    top: 0;
    width: 7em;
}

body.tablet .menu.menu-center {
    left: 0;
    right: 0;
    /* height: 8.4em; */
    bottom: 0;
}

body.tablet .menu.menu-contracted.menu-left,
body.tablet .menu.menu-contracted.menu-right {
    display: none;
}

body.tablet .menu.menu-contracted.menu-center {
    height: 2.1em;
    left: 0;
    right: 0;
}


/* Desktop styles */

body.desktop .menu {
    /* height: 14em; */
}

body.desktop .menu.menu-left,
body.desktop .menu.menu-right {
    width: 35%;
}

body.desktop .menu.menu-center {
    left: 35%;
    right: 35%;
}


body.desktop .menu.menu-contracted.menu-left,
body.desktop .menu.menu-contracted.menu-right {
    display: none;
}

body.desktop .menu.menu-contracted {
    height: 2.1em;
}


/* Facebook embed hold */

.menu .embed-holder {
    position: fixed;
    top: 7px;
    right: 7px;
}